<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e2eeapp_alpha">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chat App"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E2EEApp_alpha">
        <activity android:name=".MainActivity3"></activity>
        <activity
            android:name=".GroupChat.GroupChatActivity"
            android:parentActivityName=".Fragments"></activity>
        <activity android:name=".Certificates.CERTCaller" />
        <activity android:name=".Encryption.GenerateKeys" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".Fragments"
            android:theme="@style/Theme.E2EEApp_alpha.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".Fragments" />
        <activity
            android:name=".ViewServerImages"
            android:label="@string/title_activity_view_server_images"
            android:theme="@style/Theme.E2EEApp_alpha.NoActionBar" />
        <activity android:name=".ImageUpload" />
        <activity android:name=".FindFriends" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Fragments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>